html{
  scroll-behavior: smooth;
}
body{
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family:"Poppins";
}
#sec1{
  background-image:url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:800px;
}
header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}
#div1{
  margin-left: 20px;
  display:flex;
  justify-content: flex-start;
  margin-top: 20px;
}
#div1 img{
  height: 50px;
  width: 50px;
}
#div1 p{
  text-transform: uppercase;
  font-size:27px;
  margin-top:4px;
  margin-left:10px;
  font-weight: 800;
  text-shadow:2px 2px 2px rgb(26,26,26,0.5);
}
header nav,#div2{
  margin-top: 30px;
  margin-left:30px;
}
nav a{
  text-decoration: none;
  color: white;
  position: relative; 
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
}
nav a:hover{
  text-shadow:1px 1px 1px rgb(26,26,26,0.5);
}
nav a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color:rgb(255, 102, 0);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
@media (hover: hover) and (pointer: fine) {
  nav a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}
#div2{
  margin-right: 60px;
  text-transform: uppercase;
}
#div2 a{
  text-decoration: none;
  color: black;
}
/* button CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}
/* main section*/
main{
  display: flex;
  justify-content: space-between;
  margin-bottom:60px;
}
#div3{
  color: white;
  width:700px;
  margin-left:150px;
  margin-top: 100px;
}
#div3 h1{
  font-size: 35px;
  padding-bottom:10px;
  color:#FFC229;
}
#div3 p{
  letter-spacing: 1px;
  margin-bottom:30px;
}
#div3 a{
  margin-left:600px;
}
.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;
  color: #ff7c5c;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
#div4 img{
  height:280px;
  width:250px;
  object-fit: cover;
  margin-right:250px;
  margin-top: 100px;
  border-radius:10px;
  border:1px solid black;
}
#div4 img:hover{
  box-shadow: 3px 3px 3px black;
}
span div{
  display:flex;
  justify-content: start;
  margin-left: 150px;
}
span p{
  color: white;
  text-transform: uppercase;
  color:#FFC229;
  padding-right: 5px;
  font-size: 18px;
  margin-bottom:5px;
}
span img{
  transform: rotate(90deg);
}
#div5 ul{
  list-style:none;
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:30px;
}
#div5 li{
  display:flex;
  justify-content:start;
  width: 270px;
  gap: 10px;
  background-color:rgb(38, 38, 38);
}
#div5 li:hover{
  background-color:rgb(64, 64, 64);
  transition: 0.5s;
}
#div5 li img{
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 9px;
  transform: none;
}
#div5 li svg{
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 9px;
  fill:white;
}
#div5 li p{
  color: white;
  text-transform: none;
}
